<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDE1xs63cp5WUAe9Ep2yRY1mqJR4aILThM</string>
	<key>GCM_SENDER_ID</key>
	<string>432927364391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practicals.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ab924</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ab924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432927364391:ios:1485799492f47ab335c502</string>
</dict>
</plist>